<!-- Body container -->
<div class="container wrapper">
    <div class="row">
        <div class="col-lg-4 add-recipe">
            <h2>Grocery List</h2>
            <form id="Grocery">

                <!-- Ingredients List Area -->

                <div class="form-group">
                    <label for="ingredientsResult">Ingredients</label>
                    <textarea class="form-control" id="ingredientsResult" rows="3"
                        placeholder="Your ingredients are listed here"></textarea>
                    <br>
                    <button class="btn btn-secondary" onclick="copy()">Copy</button>

                </div>
        </div>
        </form>
    </div>
</div>