<!-- Day Cards -->
<div class="row">
    <div class="col-sm-6">
        <div class="card w-75" class="bg-dark">
            <div class="card-body">
                <h5 class="card-title">Sunday</h5>
                <p class="card-text">
                    With supporting text below as a natural lead-in to additional
                    content.
                </p>
                <a href="#" class="btn btn-primary">Website</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title">Monday</h5>
                <p class="card-text">
                    With supporting text below as a natural lead-in to additional
                    content.
                </p>
                <a href="#" class="btn btn-primary">Website</a>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Tuesday</h5>
            <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
            </p>
            <a href="#" class="btn btn-primary">Website</a>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Wednesday</h5>
            <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
            </p>
            <a href="#" class="btn btn-primary">Website</a>
        </div>
    </div>
</div>
</div>

<div class="col-sm-6">
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Thursday</h5>
            <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
            </p>
            <a href="#" class="btn btn-primary">Website</a>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Friday</h5>
            <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
            </p>
            <a href="#" class="btn btn-primary">Website</a>
        </div>
    </div>
</div>
</div>

<div class="col-sm-6">
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Saturday</h5>
            <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
            </p>
            <a href="#" class="btn btn-primary">Website</a>
        </div>
    </div>
</div>